<h1>New Photo</h1>
<%= form_with model: @photo do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :photo %><br>
        <%= form.file_field :photo %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>