<% content_for(:html_title) { @photo.title } %>
<% content_for(:meta_description) { @photo.description } %>
<% content_for :ldjson do
  ldjson = @photo.ldjson
  ldjson["contentUrl"] = url_for(@photo.photo)
%>
<%= raw(ldjson.to_json) %>
<% end %>

<h1><%= @photo.title %></h1>
<div id="image">
  <a href="<%= url_for(@photo.photo)%>" >
      <%= image_tag(@photo.photo.variant(:medium), alt: @photo.description) %>
      <br />
      Full Image
  </a>
  <p><%= @photo.description %></p>
</div>
<dl>
  <% if !@photo.captured_at.blank? %>
    <dt>Photo Captured:</dt>
    <dd><%= @photo.captured_at.to_fs(:short_date) %></dd>
  <% end %>
  
  <% if @photo.location? %>
    <dt>Photo Location:</dt>
    <dd><%= @photo.latitude %>, <%= @photo.longitude %></dd>
    <%= image_tag map_photo_path(@photo), alt: "Map showing a red pin which marks the location the photo was taken" %>
  <% end %>
</dl>

<% if @photo.user == current_user %>
<div>
  Admin Tools
<ul>
  <li><%= link_to "Delete", photo_path(@photo), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    } %></li>
</ul>
</div>
<% end %>