<!DOCTYPE html>
<html>
  <head>
    <title><% if content_for?(:html_title) %><%= yield(:html_title) %> | <% end %>mimages</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if content_for?(:meta_description) %>
    <meta name="description" content="<%= yield(:meta_description) %>">
    <% end %>

    <% if content_for?(:ldjson) %>
      <script type="application/ld+json">
        <%= yield :ldjson %>
      </script>
    <% end %>
  </head>

  <body>
    <header>
      <nav>
        <h1><a href="/">mimages</a></h1>
        <ul>
          <% if !current_user.nil? %>
          <li><%= current_user.email %></li>
          <li><%= button_to "Sign Out", sign_out_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
